<a href="https://colab.research.google.com/github/zainamri/tugas/blob/main/TgsPert4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#LOC

import pandas as pd

data = {
    'name':['William', 'Emma', 'Sofia', 'Markus', 'Edward', 'Thomas', 'Ethan', 'Olivia', 'Arun', 'Anika', 'Paulo'],
    'region':['East', 'North', 'East', 'South', 'West','West', 'South', 'West','West','East', 'South' ],
    'sales':[50000, 52000, 90000, 34000, 42000, 72000, 49000, 55000, 67000, 65000, 67000],
    'expenses' :[42000,43000, 50000, 44000, 38000, 39000, 32000, 60000, 39000, 44000, 45000]}
df = pd.DataFrame(data)
df

       name region  sales  expenses
0   William   East  50000     42000
1      Emma  North  52000     43000
2     Sofia   East  90000     50000
3    Markus  South  34000     44000
4    Edward   West  42000     38000
5    Thomas   West  72000     39000
6     Ethan  South  49000     32000
7    Olivia   West  55000     60000
8      Arun   West  67000     39000
9     Anika   East  65000     44000
10    Paulo  South  67000     45000

In [21]:
#LOC
print(df.loc['D']) # Mengakses nilai baris 'D= Markus'

name        Markus
region       South
sales        34000
expenses     44000
Name: D, dtype: object