<a href="https://colab.research.google.com/github/zainamri/tugas/blob/main/TugasPert3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

tablenama = {
    'nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
    'no_telepon': ['081267001022', '087823560918', '089654009102', '082267018967']
}
df = pd.DataFrame(tablenama)
print(df)

                 nama     gender    no_telepon
0      Arfian Purnama  Laki-laki  081267001022
1  Alisa Dityaningrum  Perempuan  087823560918
2      Kiki Anggraeni  Perempuan  089654009102
3     Rizky Kurniawan  Laki-laki  082267018967

In [2]:
tablenama = {
    'nama': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
    'gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
    'no_telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
    'Tugas': ['80', '89', '76', '80'],
    'UTS': [ '88', '78', '90', '81'],
    'UAS': [ '90', '89', '85', '82']
}
df = pd.DataFrame(tablenama)
print(df)

                 nama     gender    no_telepon Tugas UTS UAS
0      Arfian Purnama  Laki-laki  081267001022    80  88  90
1  Alisa Dityaningrum  Perempuan  087823560918    89  78  89
2      Kiki Anggraeni  Perempuan  089654009102    76  90  85
3     Rizky Kurniawan  Laki-laki  082267018967    80  81  82

In [3]:
# Define the data
tablenama = {
        'Name': ['Arfian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
        'Gender': ['Laki-laki', 'Perempuan', 'Perempuan', 'Laki-laki'],
        'No Telepon': ['081267001022', '087823560918', '089654009102', '082267018967'],
        'Tugas': [80, 89, 76, 80],
        'UTS': [88, 78, 90, 81],
        'UAS': [90, 89, 85, 82]}


df = pd.DataFrame(tablenama)

df['Nilai Akhir'] = (0.3 * df['Tugas'] + 0.3 * df['UTS'] + 0.4 * df['UAS']).round(2)

print(df)

                 Name     Gender    No Telepon  Tugas  UTS  UAS  Nilai Akhir
0      Arfian Purnama  Laki-laki  081267001022     80   88   90         86.4
1  Alisa Dityaningrum  Perempuan  087823560918     89   78   89         85.7
2      Kiki Anggraeni  Perempuan  089654009102     76   90   85         83.8
3     Rizky Kurniawan  Laki-laki  082267018967     80   81   82         81.1